
  .menu-list{  
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0px;
    margin-right: 40px;
  } 
  
  
  .menu-list-item{
    display: inline-block;
    height: 100%;
    margin-right:20px;  
  }
  
  .menu__list-item:last-child {
      margin-right: 0;
  }
  
  .menu-link{
    color: #3a3e47;
    display: inline-block;  
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 0 3px;
  }
  
  .menu-link--active{
    color: #aa44aa;
    font-weight: 1000;
    border-top:  4px solid #ffaa3b;  
  }